.modalWrapper {
  position: fixed;
  top: 15%;
  width: 60%;
  background: rgba($color: #000000, $alpha: 0.2);
  backdrop-filter: blur(10px);
  height: 620px;
  border-radius: 10px;

  .open {
    height: 100%;
    display: block;
  }

  .closed {
    height: 0;
    display: none;
  }
}

.modalBody {
  max-width: 500px;
  margin: auto;
  background: white;
  margin-top: 10%;
  padding: 20px;
  border-radius: 10px;
  max-height: 500px;

  .form_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    h4 {
      height: 45px;
      font-size: 1.5em;
      line-height: 16px;
    }

    .close_button {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      color: #d7d7d7;
      background-color: #fff;
      border: 2px solid #d7d7d7;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 2px;
      transition: 0.2s ease-out;

      &:hover {
        background-color: #ff5656;
        color: #fff;
        border-color: #ff5656;
        cursor: pointer;
      }
    }
  }

  .modalForm {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .formFieldWrapper {
      margin-bottom: 15px;

      .errors {
        color: #ff5656;
        padding: 10px 0 0 5px;
      }
    }
  }

  input {
    height: 45px;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #867e6927;
    border-radius: 5px;
    padding-left: 25px;
    background: none;
  }

  input:focus {
    outline: none;
    border: 2px solid #c1d9fd;
    background-color: white;
  }

  .submit {
    width: 200px;
    background: #fe5f1e;
    border-radius: 30px;
    padding: 12px 20px;
    color: #fff;
    border: none;
    font-size: 1.6rem;
    transition: 0.2s ease-out;

    &:hover {
      background-color: #f7cdbc;
      color: #fff;
      cursor: pointer;
    }
  }
}
