.order_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #F4F4F4;
  padding: 30px 0;
 
  .image_n_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    

    img {
      width: 50%;
    }
    div {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    h4 {
      font-size: 2rem;
      font-weight: bold;

      @media screen and (max-width: 768px) {
        font-size: 1.6rem;
      }
    }

    p {
      font-size: 1.4rem;
      color: #8D8D8D;
    }
  }

  .counter {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

    button {
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #FE5F1E;
      background-color: #fff;
      color: #FE5F1E;
      font-size: 2rem;
      transition: 0.2s ease-out;

      &:hover {
        cursor: pointer;
        background-color: #FE5F1E;
        color: #fff;
      }
    }

    span {
      font-size: 2.2rem;
      font-weight: bold;
    }
  }

  .price_wrapper {
    font-size: 1.6rem;
    font-weight: bold;
  }

  .delete_order {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    color: #D7D7D7;
    background-color: #fff;
    border: 2px solid #D7D7D7;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    transition: 0.2s ease-out;

    &:hover {
      background-color: #ff5656;
      color: #fff;
      border-color: #ff5656;
      cursor: pointer;
    }
  }
}