.app_header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #F7F7F7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffc;

  @media screen and (max-width: 768px) {
    position: sticky;
    top: 0;
  }

  button {
    width: 150px;
    height: 50px;
    background-color: #FE5F1E;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 50px;

  }

  .logo_wrapper {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    img {
      width: 38px;
      height: 38px;
    }

    @media screen and (max-width: 768px) {
      width: 275px;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
  
  .title_and_description_wrapper {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 24px;
      color: #181818;

      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }

    p {
      font-size: 16px;
      color: #7B7B7B;

      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
}

